* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(#221507, #080808);
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  color: white;
  text-align: center;
  font-size: 74px;
}

button {
  position: fixed;
  top: 4px;
  right: 2px;
}

.gallery {
  columns: 320px;
}

.gallery img {
  transition-duration: 100ms;
  opacity: 1.0;
  border-width: 2px;
  border-style: hidden;
  border-radius: 16px;
  width: 100%;
  cursor: pointer;
}

@keyframes breathing {
  0% {
    border-color: black;
  }

  50% {
    border-color: white;
  }

  100% {
    border-color: black;
  }

}

.gallery img:hover {
  animation: breathing 2000ms ease-out infinite normal;
  opacity: 0.8;
  border-style: solid;
}

#lightbox {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 100%;
  max-height: 100%;
}